<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Find your buzzz!!!</title>
</head>
<body>
    <header>
        <div class="header-bar heading-tertiary">
            Buzz buzz buzzzz!!!
        </div>
    </header>
    <main>
        <div class="section-buzz">
        <div class="section-buzz__header"><h1 class="heading-primary">Find your buzzzz!!!</h1></div>

        <div class="section-buzz__main">

                <div class="section-buzz__main__image-area" style="position:relative">
                    <img class="section-buzz__main__image" src="{{ url_for('static', filename='images/bee.jpg') }}" id="bee" />
                </div>


                <form class="section-buzz__main__form">
                    {{ form.csrf_token }}
                    <div class="section-buzz__main__form-input">
                        <input class="buzz-input" id="Participant"  placeholder="Participant ID"></input></div>
{#                        {{ render_field(form.participant, class="buzz-input") }}#}
                    {{ form.participant }}
                        <button type="submit" class="section-buzz__main__form-btn buzz-btn buzz-btn-confirm">Start</button>
                </form>

        </div>

        </div>
    </main>
</body>
</html>
