{% from "forms.html" import render_confirm_footer, render_participant_list %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Litter bug</title>
</head>
<body>
    <header>
        <div class="header-bar heading-tertiary">
            Litter bug
        </div>
    </header>
    <main>
        <div class="litter-bug">
            <div class="section-participants">
                <div class="row">
                    <form id="participant-form" action="{{ url_for('root.index') }}" method='post' class="section-participants__form">
                        {{ form.csrf_token }}
                        {{ render_participant_list(form.participant) }}
                        {{ render_confirm_footer() }}
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>


<script>
    var selected_participant = "";

    function clickParticipant(participant) {

        selected_participant = participant;
        deselectParticipants();
        selectParticipant(selected_participant);
        activateConfirmButton();
    }

    function deselectParticipants() {
        var participants = document.getElementsByClassName("participant-button");
        for (var i in participants) {
            var participant = participants[i];
            if (participant && participant.classList) {
                participant.classList.remove("participant-button-selected");
            }
        }
    }

    function selectParticipant(participant) {
        var element = document.getElementById('pb-' + participant);
        element.classList.add("participant-button-selected");
    }

    function activateConfirmButton() {
        document.getElementById('start').classList.remove('yes-no__button--yes-disabled')
    }

    function deactivateConfirmButton() {
        document.getElementById('start').classList.add('yes-no__button--yes-disabled')
    }

</script>