{% from "forms.html" import render_yes_no_footer, render_task_list %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Litter bug</title>
</head>
<body>
    <header>
        <div class="header-bar heading-tertiary">
            Litter bug
        </div>
    </header>
    <main>
        <div class="litter-bug">
            <div class="section-tasks">
                <div class="row">
                    <form id="task-form" action="{{ url_for('root.tasks') }}" method='post' class="section-tasks__form">
                        {{ form.csrf_token }}
                        {{ form.participant }}
                        {{ form.task_1_complete }}
                        {{ form.task_2_complete }}
                        {{ form.task_3_complete }}
                        {{ form.task_4_complete }}

                        {{ render_task_list(form.task, task_order) }}

                        {{ render_yes_no_footer() }}
                    </form>
                </div>
            </div>

        </div>
    </main>
</body>
</html>


<script>
    var selected_task = "";

    function clickTask(task) {
        selected_task = task;
        deselectTasks();
        selectTask(selected_task);
        activateYesButton();
    }

    function deselectTasks() {
        var tasks = document.getElementsByClassName("task-button");
        for (var i in tasks) {
            var task = tasks[i];
            if (task && task.classList) {
                task.classList.remove("task-button-selected");
            }
        }
    }

    function selectTask(task) {
        var element = document.getElementById(task);
        element.classList.add("task-button-selected");
    }

    function activateYesButton() {
        document.getElementById('yes').classList.remove('yes-no__button--yes-disabled')
    }

    function deactivateYesButton() {
        document.getElementById('yes').classList.add('yes-no__button--yes-disabled')
    }

    deactivateYesButton()
</script>