<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Find your buzzz!!!</title>
</head>
    <body>
        <header>
            <div class="header-bar heading-tertiary">
                Buzz buzz buzzzz!!!
            </div>
        </header>
        <main>
            <div class="section-list-style" id="animal-list"></div>

            <div class="footer-bar" id="sticky-footer">
                <div id='confirm' class="footer-bar__confirm buzz-btn buzz-btn-confirm buzz-btn-confirm-disabled">Confirm</div>
                <div id='cancel'  class="footer-bar__give-up buzz-btn buzz-btn-warning">Give up</div>
            </div>
        </main>
    </body>
</html>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
    var selected_animal = "";
    var animals = ['antelope', 'bear', 'bee', 'camel', 'dog', 'dolphin', 'dragonfly', 'duck', 'elephant', 'fish', 'fox', 'frog', 'gnat', 'hawk', 'horse', 'koala', 'pig', 'pigeon', 'sheep', 'stag', 'swan', 'walrus', 'wasp', 'zebra'];

    function divForAnimal(animal) {
        return '<div class="col-1-of-4">' +
        '<div class="animal-button", id="' + animal + '" onClick="clickAnimalButton(\'' + animal + '\')">' +
        '<img class="animal-button__image" src="' + animalImage(animal) + '" />' +
        '</div></div>';
    }

    function clickAnimalButton(animal) {
        selected_animal = animal;
        deselectAnimals();
        selectAnimal(selected_animal);
        activeConfirmButton();

        sendClickToServer(animal);
    }

    function sendClickToServer(animal) {
        var registerAnimalUrl = "{{ url_for('version_1.register_click', animal='ANIMAL_TO_REGISTER') }}";
        var url = registerAnimalUrl.replace(/ANIMAL_TO_REGISTER/, animal);

        console.log(url);
        $.ajax({
            type: "POST",
            url: url,
            context: document.body,
            success: function(){}
        });
    }

    function animalImage(animal) {
        return "{{ url_for('static', filename='images/animals/') }}" + animal + ".png"
    }

    function deselectAnimals() {
        for(i=0; i<animals.length; i++) {
            document.getElementById(animals[i]).classList.remove("animal-button-selected");
        }
    }

    function selectAnimal(animal) {
        document.getElementById(animal).classList.add("animal-button-selected");
    }

    function activeConfirmButton() {
        document.getElementById('confirm').classList.remove('buzz-btn-confirm-disabled')
    }

    function shuffle(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;
      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      return array;
    }

    document.addEventListener("DOMContentLoaded", function(event) {

        shuffle(animals)

        var html = ''
        var animal_ind = 0
        for(row = 0; row < 6; row++){
            html = html + '<div class="row">';
            for(col = 0; col < 4; col++){

                html = html + divForAnimal(animals[animal_ind]);
                animal_ind += 1;

            }
            html = html + '</div>';
        }
        html = html + '<div class="row footer-row">&nbsp;</div>';
        html = html + '<div class="row footer-row">&nbsp;</div>';


        document.getElementById("animal-list").innerHTML = html
    });



</script>