
.task-button {
  position: relative;
  height: $task-height;
  width: $task-width;
  left: 50%;
  transform: translateX(-50%);

  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #fff;
  padding: .5rem;
  font-size: 2rem;
  text-align: center;

  @media screen and (max-width: $break-small) {
    width: $icon-width-small;
    height: $icon-width-small;
    float: none;
  }

  &__image {
    width: 100%;
  }

  &__radio-button {
    display: none;
  }

  &-selected {
    padding:0;
    border: solid .5rem $color-confirm;
    transform: translate(-50%, -.1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &__fieldset {
    border-width: 0px;
  }

  &:hover {
    transform: translate(-50%, -.1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      clear:both;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translate(-50%, -.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

	@include clearfix;
}

.task-row {
  max-width: $grid-width;
  height: auto;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: calc(.5 * #{$gutter-vertical});
  }

  &:last-child {
    margin-bottom: calc(5 * #{$gutter-vertical});
  }
}
