

.whole-screen-image {
    position: absolute;
	height: $icon-extra-large-width;
	width: $icon-extra-large-width;
    object-fit: cover;
    background-color: #fff;
    border-radius: .5rem;
    border: 3px solid $color-confirm;
	padding: 0;
    left: 50%;
    transform: translateX(-50%);

  &__image {
    width: 100%;
  }
}