<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Litter bug</title>
</head>
<body>
    <header>
        <div class="header-bar heading-tertiary">
            Litter bug
        </div>
    </header>
    <main>
        <div class="litter-bug">
            <div class="task swipe-task">
                <div class="row">
                    <form id="task__form--end-task" action="{{ url_for('swipe.end_task') }}" method='post' class="task__form task__form--end-task">
                        {{ form.csrf_token }}
                        {{ form.participant }}
                        {{ form.task_1_complete }}
                        {{ form.task_2_complete }}
                        {{ form.task_3_complete }}
                        {{ form.choice }}

                        <button type="submit" class="task__form__submit-btn">Next task</button>
                    </form>
                </div>
            </div>

        </div>
    </main>
</body>
</html>