
// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485; 

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730; 

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa; 


$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-warning: #d0404f;
$color-warning-light: #d74542;
$color-warning-dark: #28b485; 

$color-confirm: #55c57a;
$color-confirm-light: #7ed56f;
$color-confirm-dark: #28b485; 

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

// Font
$default-font-size: 1.6rem;

$icon-width: 8rem;
$icon-width-small: 6rem;
$icon-extra-large-width: 21rem;

$participant-width: 21rem;
$participant-height: 4rem;

$task-width: 21rem;
$task-height: 4rem;

$swipe-card-width: 21rem;
$swipe-card-height: 30rem;

$break-small: 320px;