*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overscroll-behavior: contain; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin-bottom: 6rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: #000;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-font-gradient {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.whole-screen-image {
  position: absolute;
  height: 70vw;
  width: 70vw;
  max-width: 30rem;
  max-height: 30rem;
  object-fit: cover;
  background-color: #fff;
  border-radius: .5rem;
  border: 3px solid #55c57a;
  padding: 0;
  left: 50%;
  transform: translateX(-50%); }
  .whole-screen-image__image {
    width: 100%; }

.buzz-btn, .buzz-btn:link, .buzz-btn:visited {
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  margin-right: 1.5rem;
  border: none;
  cursor: pointer; }

.buzz-btn-disabled {
  background-color: #999;
  pointer-events: none;
  cursor: default; }

.buzz-btn:hover {
  transform: translateY(-0.1rem);
  background-color: #777; }
  .buzz-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.buzz-btn:active, .buzz-btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  background-color: #333; }

.buzz-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.buzz-btn-warning, .buzz-btn-warning:link, .buzz-btn-warning:visited {
  background-color: #d0404f; }

.buzz-btn-warning:disabled {
  background-color: #333; }

.buzz-btn-warning:hover {
  background-color: #d74542; }

.buzz-btn-warning:active, .buzz-btn-warning:focus {
  background-color: #d0404f; }

.buzz-btn-warning-disabled {
  background-color: #999;
  pointer-events: none;
  cursor: default; }

.buzz-btn-confirm, .buzz-btn-confirm:link, .buzz-btn-confirm:visited {
  background-color: #55c57a; }

.buzz-btn-confirm:hover {
  background-color: #7ed56f; }

.buzz-btn-confirm:active, .buzz-btn-confirm:focus {
  background-color: #55c57a; }

.buzz-btn-confirm-disabled {
  background-color: #999;
  pointer-events: none;
  cursor: default; }

.buzz-wide-btn {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #fff;
  padding: 1rem; }
  @media screen and (max-width: 320px) {
    .buzz-wide-btn {
      width: 100%;
      height: 100%;
      float: none; } }
  .buzz-wide-btn__image {
    width: 100%; }
  .buzz-wide-btn__radio-button {
    display: none; }
  .buzz-wide-btn-selected {
    border: solid 0.5rem #55c57a;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .buzz-wide-btn--extra-large {
    border-width: solid 1rem #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    height: 70vw;
    width: 70vw;
    max-height: 30rem;
    max-width: 30rem; }
  .buzz-wide-btn__fieldset {
    border-width: 0px; }
  .buzz-wide-btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .buzz-wide-btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .buzz-wide-btn:active, .buzz-wide-btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.yes-no {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8rem;
  padding: 1.5rem;
  background-color: #111;
  color: #eee;
  bottom: 0vh;
  text-align: center; }
  .yes-no__button {
    width: 100%;
    height: 100%; }
    .yes-no__button, .yes-no__button:link, .yes-no__button:visited {
      background-color: #333;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding: .75rem 4rem;
      display: inline-block;
      border-radius: 1rem;
      transition: all .2s;
      position: relative;
      font-size: 1.6rem;
      border: none;
      cursor: pointer; }
    .yes-no__button-disabled {
      background-color: #999;
      pointer-events: none;
      cursor: default; }
    .yes-no__button:hover {
      transform: translateY(-0.2rem);
      background-color: #777; }
      .yes-no__button:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .yes-no__button:active, .yes-no__button:focus {
      outline: none;
      transform: translateY(-0.1rem);
      background-color: #333; }
    .yes-no__button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
    .yes-no__button--no, .yes-no__button--no:link, .yes-no__button--no:visited {
      background-color: #d0404f; }
    .yes-no__button--no:disabled {
      background-color: #333; }
    .yes-no__button--no:hover {
      background-color: #d74542; }
    .yes-no__button--no:active, .yes-no__button--no:focus {
      background-color: #d0404f; }
    .yes-no__button--no-disabled {
      background-color: #999;
      pointer-events: none;
      cursor: default; }
    .yes-no__button--yes, .yes-no__button--yes:link, .yes-no__button--yes:visited {
      background-color: #55c57a; }
    .yes-no__button--yes:hover {
      background-color: #7ed56f; }
    .yes-no__button--yes:active, .yes-no__button--yes:focus {
      background-color: #55c57a; }
    .yes-no__button--yes-disabled {
      background-color: #999;
      pointer-events: none;
      cursor: default; }

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8rem;
  padding: 1.5rem;
  background-color: #111;
  color: #eee;
  bottom: 0vh;
  text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.3);
    background-color: #333; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.header-bar {
  height: 4rem;
  background-color: #011;
  color: #eee;
  padding-top: .5rem;
  text-align: center;
  margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-1 {
    width: calc((100% - 2rem)); }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2rem + 2 * (100% - 3 * 2rem) / 4); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 2rem) / 4) + 2 * 2rem); }

body {
  background-color: #eee !important; }

.buzz-input {
  width: 15rem;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  margin-bottom: 2rem; }

.section-litter-bug {
  color: #111; }
  .section-litter-bug__header {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center; }
  .section-litter-bug__main {
    width: 100%; }
    .section-litter-bug__main__image-area {
      width: 100%;
      height: 25rem; }
    .section-litter-bug__main__image {
      object-fit: cover;
      position: absolute;
      width: 30rem;
      border-radius: 4rem;
      left: 50%;
      transform: translateX(-50%); }
    .section-litter-bug__main__form {
      position: relative; }
    .section-litter-bug__main__form-input {
      text-align: center; }
    .section-litter-bug__main__form-btn {
      left: 50%;
      transform: translateX(-50%); }
      .section-litter-bug__main__form-btn:hover {
        transform: translate(-50%, -0.2rem); }
      .section-litter-bug__main__form-btn:active, .section-litter-bug__main__form-btn:focus {
        transform: translate(-50%, -0.1rem); }

.participant-button {
  position: relative;
  height: 4rem;
  width: 21rem;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #fff;
  padding: .5rem;
  font-size: 2rem;
  text-align: center;
  display: inline-block; }
  @media screen and (max-width: 320px) {
    .participant-button {
      width: 100%;
      height: 100%;
      float: none; } }
  .participant-button__image {
    width: 100%; }
  .participant-button__radio-button {
    display: none; }
  .participant-button-selected {
    padding: 0;
    border: solid 0.5rem #55c57a;
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .participant-button__fieldset {
    border-width: 0px; }
  .participant-button:hover {
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .participant-button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      clear: both; }
  .participant-button:active, .participant-button:focus {
    outline: none;
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .participant-button::after {
    content: "";
    display: table;
    clear: both; }

.participant-row {
  max-width: 114rem;
  height: auto;
  margin: 0 auto; }
  .participant-row:not(:last-child) {
    margin-bottom: calc(.5 * 4rem); }
  .participant-row:last-child {
    margin-bottom: calc(5 * 4rem); }

.section-list-style {
  position: absolute;
  width: 50%;
  min-width: 35rem;
  left: 50%;
  transform: translateX(-50%); }

.footer-bonus-row {
  height: 10rem; }

.icon-task {
  position: absolute;
  width: 50%;
  min-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0;
  margin: 0; }

.icon-task__form {
  border-width: 4px;
  width: 100%;
  margin: 0; }

.icon-task__bottom-spacer {
  height: 8rem; }

.section-litter-bug__task-menu {
  position: absolute;
  width: 90%;
  max-width: 50rem;
  left: 50%;
  transform: translateX(-50%); }

.icon {
  height: 100%;
  width: 100%;
  max-width: 10rem;
  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 2px;
  border-color: #fff;
  padding: 0;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .icon {
      width: 100%;
      height: 100%;
      float: none; } }
  .icon__image {
    width: 100%; }
  .icon__radio-button {
    display: none; }
  .icon-selected {
    border: solid 5px #55c57a;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .icon--extra-large {
    border-width: solid 1rem #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    height: 70vw;
    width: 70vw;
    max-width: 30rem;
    max-height: 30rem; }
  .icon__fieldset {
    border-width: 0px; }
  .icon:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .icon:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .icon:active, .icon:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.swipe-choice {
  position: relative;
  text-align: center;
  height: 24rem;
  width: 24rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.5rem solid #000;
  padding: 0;
  margin: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white; }
  .swipe-choice__image {
    width: 100%; }
  .swipe-choice--selected {
    border: 0.7rem solid #55c57a; }

.swipe-icon {
  position: relative;
  height: 24rem; }

.swipe-icons {
  margin: 0;
  height: 24rem; }

.task-button {
  position: relative;
  height: 4rem;
  width: 21rem;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 1rem;
  border-color: #fff;
  padding: .5rem;
  font-size: 2rem;
  text-align: center;
  display: inline-block; }
  @media screen and (max-width: 320px) {
    .task-button {
      width: 100%;
      height: 100%;
      float: none; } }
  .task-button__image {
    width: 100%; }
  .task-button__radio-button {
    display: none; }
  .task-button-selected {
    padding: 0;
    border: solid 0.5rem #55c57a;
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .task-button__fieldset {
    border-width: 0px; }
  .task-button:hover {
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .task-button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      clear: both; }
  .task-button:active, .task-button:focus {
    outline: none;
    transform: translate(-50%, -0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .task-button::after {
    content: "";
    display: table;
    clear: both; }

.task-row {
  max-width: 114rem;
  height: auto;
  margin: 0 auto; }
  .task-row:not(:last-child) {
    margin-bottom: calc(.5 * 4rem); }
  .task-row:last-child {
    margin-bottom: calc(5 * 4rem); }

.submenu-task {
  position: absolute;
  width: 50%;
  min-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0;
  margin: 0; }

.submenu-task__bottom-spacer {
  height: 8rem; }

.submenu-item {
  height: 100%;
  width: 100%;
  max-width: 10rem;
  object-fit: cover;
  background-color: #fff;
  border-radius: 2px;
  border: solid 2px #55c57a;
  padding: 0;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .submenu-item {
      width: 100%;
      height: 100%;
      float: none; } }
  .submenu-item__image {
    width: 100%; }
  .submenu-item-selected {
    border: solid 2rem #55c57a;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .submenu-item__branch {
    border: solid 5px #000;
    margin-right: 0px;
    transform: scale(1.2); }
  .submenu-item__leaf--selected {
    border: solid 5px #55c57a;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
