{% from "task_icons/forms.html" import render_yes_no_footer %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Litter bug</title>
</head>
<body>
<header>
    <div class="header-bar heading-tertiary">
        Litter bug
    </div>
</header>
<main>
    <div class="section-litter-bug">
        <form id="scanner-menu-form" action="{{ url_for('root.external') }}" method='post' class="scanner-task__form">

            <div class="scanner-task">
                <div class="row">
                    {{ form.csrf_token }}
                    {{ form.participant }}
                    {{ form.task_1_complete }}
                    {{ form.task_2_complete }}
                    {{ form.task_3_complete }}
                    {{ form.task_4_complete }}
                </div>
            </div>
            {{ render_yes_no_footer() }}
        </form>
    </div>

</main>
</body>
</html>