{% from "tasks/forms.html" import render_yes_no_footer %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css"
          integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css"
          integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Litter bug</title>
</head>
<body>
<header>
    <div class="header-bar heading-tertiary">
        Litter bug
    </div>
</header>
<main>
    <div id="section-start" class="section-litter-bug">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading-secondary">
                        Task 3
                    </div>
                    <div class="heading-tertiary">
                        Submenus
                    </div>
                    <div class="paragraph">
                        This is a the start page for the sub menu task
                    </div>
                    <div class="paragraph">
                        A task cycles through three pages - start, pick and confirm until you click exit on the start
                        page
                    </div>
                    <div class="paragraph">
                        Tap <strong>Next</strong> to classify more litter
                    </div>
                    <div class="paragraph">
                        Tap <strong>Exit</strong> to return to the task list
                    </div>
                </div>
            </div>
        </div>

        <div class="yes-no">
            <div class="footer-bar" id="sticky-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div id="start-yes-button" class="yes-no__button yes-no__button--yes"
                                 onclick="clickStart()">
                                <span class="fas fa-check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div id="start-no-button" class="yes-no__button yes-no__button--no" onclick="clickBack()">
                                <span class="fas fa-times"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section-play" class="section-litter-bug" style="display: none;">
        <div class="container">
            {% for item in tree %}
                {% if item.subitems %}
                    <div class="row">
                        <div class="col-6 offset-3">
                            {% set image_url = url_for('static', filename="images/icons/" + item['image']) -%}
                            <div class="submenu-item submenu-item__branch" id="{{ item['item'] }}"
                                 onclick="clickBranch('{{ item['item'] }}')">
                                <img src="{{ image_url }}" class="submenu-item__image">
                            </div>
                        </div>
                    </div>
                    {% for subitem in item.subitems %}
                        <div class="row submenu-item__subitem" id="{{ subitem['item'] }} row" style="display: none">
                            <div class="col-6 offset-4">
                                {% set image_url = url_for('static', filename="images/icons/" + subitem['image']) -%}
                                <div class="submenu-item submenu-item__leaf" id="{{ subitem['item'] }}"
                                     onclick="clickLeaf('{{ subitem['item'] }}')">
                                    <img src="{{ image_url }}" class="submenu-item__image">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-6 offset-3">
                            {% set image_url = url_for('static', filename="images/icons/" + item['image']) -%}
                            <div class="submenu-item submenu-item__leaf" id="{{ item['item'] }}"
                                 onclick="clickLeaf('{{ item['item'] }}')">
                                <img src="{{ image_url }}" class="submenu-item__image">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="yes-no">
            <div class="footer-bar" id="sticky-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div id="task-yes-button" class="yes-no__button yes-no__button--yes"
                                 onclick="clickItemYes()">
                                <span class="fas fa-check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div id="task-no-button" class="yes-no__button yes-no__button--no" onclick="clickItemNo()">
                                <span class="fas fa-times"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section-confirm" class="section-litter-bug" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading-secondary">
                        Task 3
                    </div>
                    <div class="heading-tertiary">
                        Submenus
                    </div>
                    <div class="paragraph">
                        This screen is to confirm the choice
                    </div>
                    <img class="whole-screen-image" id="confirm-image"/>
                </div>
            </div>
        </div>

        <div class="yes-no">
            <div class="footer-bar" id="sticky-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="yes-no__button yes-no__button--yes" onclick="clickConfirmYes()">
                                <span class="fas fa-check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="yes-no__button yes-no__button--no" onclick="clickConfirmNo()">
                                <span class="fas fa-times"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section-finalise" class="section-litter-bug" style="display: none">
        <form id="icon-menu-form" action="{{ url_for('root.icon_menu') }}" method='post' class="icon-task__form">
            {{ form.participant }}
            {{ form.task_1_complete }}
            {{ form.task_2_complete }}
            {{ form.task_3_complete }}
            {{ form.task_4_complete }}
            {{ form.csrf_token }}
            {{ render_yes_no_footer() }}
        </form>
    </div>

</main>
</body>
</html>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    var currentSelectedItem = "";
    var tree = {{ tree|safe }};
    var root_url = '{{ url_for('static', filename="images/icons") }}';
    var currentOpenBranch = "";

    function clickStart() {
        $('#section-start').hide();
        $('#section-play').show();
    }

    function clickBack() {
        document.getElementById('icon-menu-form').submit();
    }

    function clickItemYes() {
        console.log('yes');
        updateConfirmSection();
        $('#section-play').hide();
        $('#section-confirm').show();
    }

    function clickItemNo() {
        deselectAllIcons();
        selected_icon = "";
        deactivateTaskYesButton();

        $('#section-start').show();
        $('#section-play').hide();
    }

    function updateConfirmSection() {
        for (var i = 0; i < tree.length; i++) {
            var item = tree[i]
            if (item.subitems) {
                for (var j = 0; j < item.subitems.length; j++) {
                    var subitem = item.subitems[j];
                    if (subitem['value'] === currentSelectedItem) {
                        var image_url = root_url + '/' + subitem['image'];
                        $('#confirm-image').attr("src", image_url);
                    }
                }
            } else {
                if (item['value'] === currentSelectedItem) {
                    var image_url = root_url + '/' + item['image'];
                    $('#confirm-image').attr("src", image_url);
                }
            }
        }
    }

    function clickConfirmYes() {
        deselectAllLeaves();
        closeAllBranches();
        currentOpenBranch = "";
        currentSelectedItem = "";
        deactivateTaskYesButton();

        $('#section-confirm').hide();
        $('#section-start').show();
    }

    function clickConfirmNo() {
        $('#section-confirm').hide();
        $('#section-play').show();
    }

    function clickBranch(item) {
        var allSubitems = document.getElementsByClassName('submenu-item__subitem');
        for (var i = 0; i < allSubitems.length; i++) {
            allSubitems[i].style.display = "none";
        }

        if (currentOpenBranch === item) {
            closeBranch(item);
            currentOpenBranch = "";
        } else {
            openBranch(item);
            currentOpenBranch = item;
        }
    }

    function clickLeaf(item) {
        currentSelectedItem = item;
        deselectAllLeaves();
        document.getElementById(item).classList.add('submenu-item__leaf--selected')
        activateTaskYesButton();
    }

    function deselectAllLeaves() {
        var leaves = document.getElementsByClassName('submenu-item__leaf');
        for (var i = 0; i < leaves.length; i++) {
            leaves[i].classList.remove('submenu-item__leaf--selected')
        }
    }

    function openBranch(item) {
        var branch = getBranchWithItemNamed(item);
        for (var i = 0; i < branch.subitems.length; i++) {
            document.getElementById(branch.subitems[i]['value'] + ' row').style.display = "block";
        }
    }

    function closeBranch(item) {
        var branch = getBranchWithItemNamed(item);
        for (var i = 0; i < branch.subitems.length; i++) {
            if (branch.subitems[i]['value'] === currentSelectedItem) {
                document.getElementById(currentSelectedItem).classList.remove('submenu-item__leaf--selected')
                currentSelectedItem = "";
                deactivateTaskYesButton();
            }
        }
    }

    function closeAllBranches() {
        for (var i = 0; i < tree.length; i++) {
            if(tree[i].subitems) {
                closeBranch(tree[i]['value'])
            }
        }
    }

    function getBranchWithItemNamed(name) {
        for (var t in tree) {
            if (tree[t]['value'] == name) {
                return tree[t];
            }
        }
        return null;
    }

    function deselectAll() {

    }

    function sendClickToServer(animal) {
        {#var registerAnimalUrl = "{{ url_for('version_1.register_click', animal='ANIMAL_TO_REGISTER') }}";#}
        {#var url = registerAnimalUrl.replace(/ANIMAL_TO_REGISTER/, animal);#}
        {##}
        {#        console.log(url);#}
        {#        $.ajax({#}
        {#            type: "POST",#}
        {#            url: url,#}
        {#            context: document.body,#}
        {#            success: function(){}#}
        {#        });#}
    }

    function activateTaskYesButton() {
        document.getElementById('task-yes-button').classList.remove('yes-no__button--yes-disabled')
    }

    function deactivateTaskYesButton() {
        document.getElementById('task-yes-button').classList.add('yes-no__button--yes-disabled')
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        deactivateTaskYesButton();
    });


</script>