{% macro render_icon_list(icons, rows, cols) -%}

    <fieldset class="animal-button__fieldset">
        <div class="container">
            {% for row in range(rows) %}
                <div class="row">
                    {% for col in range(cols) %}
                        <div class="col-1-of-4">

                            {% set choice = icons.choices[col + 4*row] -%}
                            {% set image_url = url_for('static', filename="images/animals/" + choice[0] + ".png") -%}

                            <div class="animal-button" id="{{ choice[0] }}" onclick="clickAnimalButton('{{ choice[0] }}')">
                                <label for="icons-{{ col + 4*row - 1 }}"><img src="{{ image_url }}" class="animal-button__image"></label>
                                <input id="icons-{{ col + 4*row - 1 }}" class="animal-button__radio-button" name="icons" type="radio" value="{{ choice[0] }}">

                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </fieldset>

{%- endmacro %}

{%  macro render_swipe_icons(icons) -%}
    <div class="swipe-icons">
        {% for icon in icons.choices %}
            {% set image_url = url_for('static', filename="images/animals/" + icon[0] + ".png") -%}
            <div class="swipe-icon">
            <div class="animal-swipe-choice">
                <div class="animal-swipe-icon">
                        <label for="icons-{{ loop.index }}"><img src="{{ image_url }}" class="animal-swipe-choice__image"></label>
                        <input id="icons-{{ loop.index }}" class="animal-button__radio-button" name="icons" type="radio" value="{{ icon[0] }}" />
                </div>
            </div>
            </div>
        {%  endfor %}
    </div>
{%- endmacro %}




{% macro render_yes_no_footer() -%}
<div class="yes-no">
<div class="footer-bar" id="sticky-footer">
    <div class="row">
        <div class="col-1-of-2">
            <button id="yes" name="yes" type="submit" value="yes" class="footer-bar__confirm buzz-btn buzz-btn-confirm buzz-btn-confirm-disabled yes-no__button yes-no-button--yes">Yes</button>
        </div>
        <div class="col-1-of-2">
            <button id="no" name="no" type="submit" value="no"  class="footer-bar__give-up buzz-btn buzz-btn-warning yes-no__button yes-no__button--no">No</button>
        </div>
    </div>
</div>
</div>
{%- endmacro %}

