.icon-task {
	position: absolute;
	width: 50%;
	min-width: 30rem;
	left: 50%;
	transform: translateX(-50%);
	border-width: 0;
	margin:0;
}

.icon-task__form {
	border-width: 4px;
	width: 100%;
	margin: 0;
}

.icon-task__bottom-spacer {
	height: 8rem;
}

.section-litter-bug__task-menu {
	position: absolute;
	width: 90%;
	max-width: 50rem;
	left: 50%;
	transform: translateX(-50%);
}

.icon {
  height: $icon-width;
  width: $icon-width;
  max-width: $icon-max-width;
  object-fit: cover;
  background-color: #fff;
  border-width: 1px;
  border-radius: 2px;
  border-color: #fff;
  padding: 0;
  overflow: hidden;

  @media screen and (max-width: $break-small) {
    width: $icon-width-small;
    height: $icon-width-small;
    float: none;
  }

  &__image {
    width: 100%;
  }

  &__radio-button {
    display: none;
  }

  &-selected {
    border: solid 5px $color-confirm;
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &--extra-large {
    border-width: solid 1rem $color-confirm;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    border-radius: 3rem;
	height: $icon-extra-large-size;
	width: $icon-extra-large-size;
	max-width: $icon-extra-large-max-size;
	max-height: $icon-extra-large-max-size;
  }

  &__fieldset {
    border-width: 0px;
  }

  &:hover {
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }
}