.swipe-choice {
    position: relative;
    text-align: center;
	height: $swipe-card-height;
    width: $swipe-card-width;
    object-fit: cover;
    border-radius: 1rem;
    border: .5rem solid $color-black;
    padding: 0;
    margin: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;

    &__image {
      width: 100%;
    }

    &--selected {
          border: .7rem solid $color-confirm;
    }
}

.swipe-icon {
  position: relative;
  height: $swipe-card-height;
}

.swipe-icons {
  margin: 0;
  height: $swipe-card-height;
}
