.animal-swipe-choice {
    position: absolute;
    text-align: center;
	height: $swipe-card-height;
    width: $swipe-card-width;
    object-fit: cover;
    //background-color: #fff;
    border-radius: 1rem;
    border: .5rem solid $color-black;
    padding: 6rem 1rem 3rem 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;

    &__image {
      width: 100%;
    }
}

.swipe-icon {
  position: relative;
  	height: $swipe-card-height;
}

.swipe-icons {
  margin: 0;
}

.animal-button__radio-button {
  display: none;
}